@import "tailwindcss";

::-webkit-scrollbar {
    width: 3px;
    height: 1px;
    color: #888;
    /* for horizontal scrollbar */
}
::-webkit-scrollbar-thumb {
  background-color: #dbc4c441;
  opacity: 0.4;

  /* Set color for scrollbar thumb */
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #1c1b1b;
    /* Change color on hover */
  }